<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
			<div class="form-block">
				<%= form_for @vacancy do |f| %>
					<% if @vacancy.errors.any? %>
						<div id="error_explanation">
							<h2>
							<%= "#{pluralize(@vacancy.errors.count, "error")} prohibited this post from being saved:" %>
							</h2>
							<ul>
							<% @vacancy.errors.full_messages.each do |msg| %>
								<li>
								<%= msg %>
								</li>
							<% end %>
							</ul>
						</div>
					<% end %>
					<div class="form-group">
						<%= f.text_field :title, class: "form-control", placeholder: "Title" %>
					</div>
					<div class="form-group">
						<%= f.text_field :location, class: "form-control", placeholder: "Location" %>
					</div>
					<div class="form-group">
						<%= f.text_area :desc, class: "form-control", placeholder: "Description" %>
					</div>
					<div class="form-group">
						<%= f.text_area :responsibilities, class: "form-control", placeholder: "Responsibilities" %>
					</div>
					<div class="form-group">
						<%= f.text_area :requirements, class: "form-control", placeholder: "Requirements" %>
					</div>
					<div class="form-group">
						<%= f.text_area :additional_requirements, class: "form-control", placeholder: "Additional requirements (optional)" %>
					</div>
					<div class="form-group">
						<%= f.submit "Submit", class: "btn btn-default" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>