<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="text-block">
					<p>Copyright &copy; <%= Date.today.year %> Awesome Inc.</p>
				</div>
			</div>
			<div class="col-lg-2 col-lg-offset-6 col-md-2 col-md-offset-6 col-sm-12 col-xs-12 social-block">
				<a href="#"><%= image_tag('/public_images/facebook_logo.png', class: 'link-image img-responsive') %></a>
				<a href="#"><%= image_tag('/public_images/twitter_logo.png', class: 'link-image img-responsive') %></a>
				<a href="#"><%= image_tag('/public_images/linkedin_logo.png', class: 'link-image img-responsive') %></a>
				<a href="#"><%= image_tag('/public_images/instagram_logo.png', class: 'link-image img-responsive') %></a>
			</div>
		</div>
	</div>
</footer>
<div id="underfooter"></div>