<!DOCTYPE html>
<html>
<head>
	<title><%= t 'views.pages.home.title' %></title>

	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/home">
</head>
<body>
	<header class="image-carousel">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel" data-interval="3000">
					<!-- Indicators -->
						<a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
						<ol class="carousel-indicators">
						<li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
						<!-- <div class="thumbnail">
							<img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/wdXqHcTwSTmLuKOGz92L_Landscape.jpg">
						</div> -->
						</li>
						<li data-target="#thumbnail-preview-indicators" data-slide-to="1">
						<!-- <div class="thumbnail">
							<img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/tU3ptNgGSP6U2fE67Gvy_SYDNEY-162.jpg">
						</div> -->
						</li>
						<li data-target="#thumbnail-preview-indicators" data-slide-to="2">
						<!-- <div class="thumbnail">
							<img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/mtNrf7oxS4uSxTzMBWfQ_DSC_0043.jpg">
						</div> -->
						</li>
						</ol>
						<a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
						<div class="carousel-inner">
							<div class="item slides active">
								<div class="slide-1"></div>
									<div class="container">
										<div class="carousel-caption">
											<h1><%= t 'views.pages.home.carousel.h_1' %></h1>
											<p><%= t 'views.pages.home.carousel.p_1' %></p>
											<p><a class="btn btn-lg btn-primary" href="/portfolio" role="button"><%= t 'views.pages.home.carousel.btn_1' %></a></p>
										</div>
									</div>
							</div>
							<div class="item slides">
								<div class="slide-2"></div>
									<div class="container">
										<div class="carousel-caption">
											<h1><%= t 'views.pages.home.carousel.h_2' %></h1>
											<p><%= t 'views.pages.home.carousel.p_1' %></p>
											<p><a class="btn btn-lg btn-primary" href="/about" role="button"><%= t 'views.pages.home.carousel.btn_2' %></a></p>
										</div>
									</div>
							</div>
							<div class="item slides">
								<div class="slide-3"></div>
									<div class="container">
										<div class="carousel-caption">
											<h1><%= t 'views.pages.home.carousel.h_3' %></h1>
											<p><%= t 'views.pages.home.carousel.p_3' %></p>
											<p><a class="btn btn-lg btn-primary" href="/contact" role="button"><%= t 'views.pages.home.carousel.btn_3' %></a></p>
										</div>
									</div>
							</div>
						</div>
						<a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
						<a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div> 
				</div>
			</div>
		</div>
	</header>
	<section class="what-we-do">
		<div class="container">
			<div class="row">
				<div class="col-12">
						<div class="text-block">
							<h2><%= t 'views.pages.home.what_we_do' %></h2>
							<p><%= t 'views.pages.home.what_we_do_p' %></p>
						</div>
				</div>
			</div>
			<div class="partial">
				<%= render partial: "/shared/what_we_do_links" %>
			</div>
		</div>
	</section>
	<section class="news">
		<div class="container-fluid news-block">
			<div class="row">
				<div class="col-12">
					<div class="title-block">
						<h2><%= t 'views.pages.home.news' %></h2>
					</div>
				</div>
			</div>
			<div class="row">
			<% Post.order('created_at DESC').limit(3).each do |post| %>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<%= link_to post_path(post), class: 'inner-link' do %>
					<div class="inner-block">
						<div class="title-block">
							<h3><%= post.title %></h3>
						</div>
						<div class="date-block">
							<%= post.created_at.strftime('%H:%M, %b %d, %Y') %>
						</div>
						<div class="text-block">
							<p><%= post.body.truncate(250) %></p>
						</div>
					</div>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</section>
	<section class="more-info">
		<div class="container-fluid more-info-block">
			<div class="row">
				<div class="col-12 block">
					<div class="text-block">
						<h1><%= t 'views.pages.home.learn_more' %></h1>
						<h3><%= t 'views.pages.home.visit_our' %> <a href="/about"><%= t 'views.pages.home.about' %></a> &amp; <a href="/faq"><%= t 'views.pages.home.faq' %></a> <%= t 'views.pages.home.pages' %></h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="contact-us">
		<div class="container-fluid contact-us-block">
			<div class="row">
				<div class="col-12 block">
					<div class="text-block">
						<h1><%= t 'views.pages.home.have_question' %></h1>
						<h3><%= t 'views.pages.home.ask_anything' %></h3>
						<a href="/contact" class="btn btn-default"><%= t 'views.pages.home.contact_us' %></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>