<!DOCTYPE html>
<html>
<head>
	<title>Awesome - Main Page</title>

	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/home">
</head>
<body>
	<header class="image-carousel">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel" data-interval="3000">
					<!-- Indicators -->
						<a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
						<ol class="carousel-indicators">
						<li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
						<!-- <div class="thumbnail">
							<img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/wdXqHcTwSTmLuKOGz92L_Landscape.jpg">
						</div> -->
						</li>
						<li data-target="#thumbnail-preview-indicators" data-slide-to="1">
						<!-- <div class="thumbnail">
							<img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/tU3ptNgGSP6U2fE67Gvy_SYDNEY-162.jpg">
						</div> -->
						</li>
						<li data-target="#thumbnail-preview-indicators" data-slide-to="2">
						<!-- <div class="thumbnail">
							<img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/mtNrf7oxS4uSxTzMBWfQ_DSC_0043.jpg">
						</div> -->
						</li>
						</ol>
						<a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
						<div class="carousel-inner">
							<div class="item slides active">
								<div class="slide-1"></div>
									<div class="container">
										<div class="carousel-caption">
											<h1>New carousel layout</h1>
											<p>Responsive thumbnail preview in carousel indicators.</p>
											<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
										</div>
									</div>
							</div>
							<div class="item slides">
								<div class="slide-2"></div>
									<div class="container">
										<div class="carousel-caption">
											<h1>Another example headline.</h1>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
											<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
										</div>
									</div>
							</div>
							<div class="item slides">
								<div class="slide-3"></div>
									<div class="container">
										<div class="carousel-caption">
											<h1>One more for good measure.</h1>
											<p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
											<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
										</div>
									</div>
							</div>
						</div>
						<a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
						<a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div> 
				</div>
			</div>
		</div>
	</header>
	<section class="what-we-do">
		<div class="container">
			<div class="row">
				<div class="col-12">
						<div class="text-block">
							<h2>What we do</h2>
							<p>We are a global software making company. Etc.</p>
						</div>
				</div>
			</div>
			<div class="partial">
				<%= render partial: "/shared/what_we_do_links" %>
			</div>
		</div>
	</section>
	<section class="news">
		<div class="container-fluid news-block">
			<div class="row">
				<div class="col-12">
					<div class="title-block">
						<h2>News</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="inner-block">
						<div class="title-block">
							<h3>Test news title</h3>
						</div>
						<div class="date-block">
							<%= Time.now.strftime('%H:%M, %b %d, %Y') %>
						</div>
						<div class="text-block">
							<%= 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'.truncate(250) %>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="inner-block">
						<div class="title-block">
							<h3>Test news title</h3>
						</div>
						<div class="date-block">
							<%= Time.now.strftime('%H:%M, %b %d, %Y') %>
						</div>
						<div class="text-block">
							<%= 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'.truncate(250) %>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="inner-block">
						<div class="title-block">
							<h3>Test news title</h3>
						</div>
						<div class="date-block">
							<%= Time.now.strftime('%H:%M, %b %d, %Y') %>
						</div>
						<div class="text-block">
							<%= 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'.truncate(250) %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="more-info">
		<div class="container-fluid more-info-block">
			<div class="row">
				<div class="col-12 block">
					<div class="text-block">
						<h1>Learn more</h1>
						<h3>Visit our <a href="/about">About</a> &amp; <a href="/faq">FAQ</a> pages</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="contact-us">
		<div class="container-fluid contact-us-block">
			<div class="row">
				<div class="col-12 block">
					<div class="text-block">
						<h1>Have a question?</h1>
						<h3>Ask us anything</h3>
						<a href="/contact" class="btn btn-default">Contact us</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>