<body class="preload">
    <link rel="stylesheet" href="/assets/navbar.scss">
    <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-static-top nav-preload" role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="navbar-header"><a class="navbar-brand" href="#">Awesome</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-menubuilder">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="nav-item <%= active_page_class(root_path) %>"><%= link_to 'Home', root_path, class: "nav-link"%></li>
                            <li class="nav-item <%= active_page_class(portfolio_path) %>"><a class="nav-link" href="/portfolio">Portfolio</a></li>
                            <li class="nav-item <%= active_page_class(about_path) %>"><a class="nav-link" href="/about">About</a></li>
                            <li class="nav-item <%= active_page_class(contact_path) %>"><a class="nav-link" href="/contact">Contact</a></li>
                            <li class="nav-item <%= active_page_class(gallery_path) %>"><a class="nav-link" href="/gallery">Gallery</a></li>
                            <li class="nav-item <%= active_page_class(vacancies_path) %>"><a class="nav-link" href="/vacancies">Vacancies</a></li>
                             <li class="nav-item <%= active_page_class(events_path) %>"><a class="nav-link" href="/events">Events</a></li>
                            <div class="nav-dropdown-menu">
                              <li class="nav-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a class="nav-link" href="#">Mock</a></li>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                              </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(window).load(function() {
            $("div").removeClass("nav-preload");
        });
    </script>
</body>