<header class="top-image">
	<div class="container-fluid image-block">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="motto">
					<div class="text-block">
						<h1><%= t 'views.pages.about.title' %></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<section class="general-text">
	<div class="container">
		<div class="row">
			<div class="col-12 top-text-block">
				<h3><%= t 'views.pages.about.company_desc' %></h3>
			</div>
		</div>
	</div>
</section>
<section class="details-links">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="text-block">
				<h3>Check out our <a href="/portfolio">Portfolio</a> page</h3>
				</div>
			</div>
		</div>
	</div>
<section class="statistics">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<div class="text">
						<h2>50,000+</h2>
						<h5><%= t 'views.pages.about.satisfied_customers' %></h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<div class="text">
						<h2>9.8</h2>
						<h5><%= t 'views.pages.about.rating' %></h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<div class="text">
						<h2>15,000+</h2>
						<h5><%= t 'views.pages.about.completed_projects' %></h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<div class="text">
						<h2>Top 10</h2>
						<h5><%= t 'views.pages.about.world_rank' %></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="company-values">
	<div class="container">
		<div class="row">
			<div class="col-12 top-text-block">
				<h1><%= t 'views.pages.about.values' %></h1>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="text-block">
					<h4><%= t 'views.pages.about.simple_string' %></h4>
					<p><%= t 'views.pages.about.desc_1' %></p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="text-block">
					<h4><%= t 'views.pages.about.great_products.' %></h4>
					<p><%= t 'views.pages.about.desc_2' %></p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="text-block">
					<h4><%= t 'views.pages.about.customer_support' %></h4>
					<p><%= t 'views.pages.about.desc_3' %></p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="text-block">
					<h4><%= t 'views.pages.about.made_for_people' %></h4>
					<p><%= t 'views.pages.about.desc_4' %></p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="team">
	<div class="container">
		<div class="row">
			<div class="col-12 description">
				<div class="text-block">
					<h3><%= t 'views.pages.about.team' %></h3>
				</div>
			</div>
			<div class="col-12 images">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 image-block">
						
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 image-block">
						
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 image-block">
						
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 image-block">
						
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="team-section-btn">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="address-info">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 image-block">
				<div class="text-block">
					<h1><%= t 'views.pages.about.our_office' %></h1>
				</div>
			</div>
			<div class="col-12 map-block">
				<div class="text">
					<h3><%= t 'views.pages.about.location' %></h3>
				</div>
				<section id="contact google-maps" class="google-maps">
			        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50710.53883533556!2d-122.11628646772758!3d37.40381423599162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb7495bec0189%3A0x7c17d44a466baf9b!2sMountain+View%2C+CA!5e0!3m2!1sen!2s!4v1489513205589"></iframe>
			        <br />
			        <small>
			            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50710.53883533556!2d-122.11628646772758!3d37.40381423599162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb7495bec0189%3A0x7c17d44a466baf9b!2sMountain+View%2C+CA!5e0!3m2!1sen!2s!4v1489513205589"></a>
			        </small>
			    </section>
			</div>
			<div class="col-12 text-block">
				<h3><%= t 'views.pages.about.address' %></h3>
				<h5>Awesome</h5>
				<h5>42 Awesome Way</h5>
				<h5><%= t 'views.pages.about.city' %> 95014</h5>
				<h5>(555)888-1000</h5>
			</div>
		</div>
	</div>
</section>
<section class="contact-us-about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="header-text-block">
					<h1><%= t 'views.pages.about.contact_us' %></h1>
				</div>
				<div class="text-block">
					<h3><%= t 'views.pages.about.tell_us' %></h3>
					<button class="btn btn-primary" href="/contact#email-form"><%= t 'views.pages.about.write_email' %></button>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	// Disable maps scrolling
	$(function() {
		$('#google-maps').onClick(function(e) {
	    	$(this).find('iframe').css('pointer-events', 'auto');
		}).mouseleave(function(e) {
	    	$(this).find('iframe').css('pointer-events', 'none');
		});
	})
</script>