<section class="header-block">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-block">
				<div class="text-block">
					<h1><%= t 'views.pages.portfolio.title' %></h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="what-we-do">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="text-block">
					<h3><%= t 'views.pages.portfolio.what_we_do' %></h3>
				</div>
			</div>
		</div>
		<div class="partial">
			<%= render partial: "/shared/what_we_do_links" %>
		</div>
		<div class="row">
			<div class="col-12 bottom-text-block">
				<div class="text-block">
					<h3><%= t 'views.pages.portfolio.visit_about_us.visit' %> <a href="/about"><%= t 'views.pages.portfolio.visit_about_us.about_us' %></a> <%= t 'views.pages.portfolio.visit_about_us.find_out_more' %></h3>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="our-partners">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-block">
				<div class="text-block">
					<h2><%= t 'views.pages.portfolio.partners' %></h2>
				</div>
				<div class="partners-block">
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 inner-block">
						<div class="image-block-2">
							<a href="http://cisco.com"><img src="/public_images/cisco_logo.png" class="inner-image">
								<h4>Cisco</h4></a>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 inner-block">
						<div class="image-block-2">
							<a href="http://apple.com"><img src="/public_images/apple_logo.png" class="inner-image">
								<h4>Apple</h4></a>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 inner-block">
						<div class="image-block-2">
							<a href="http://tesla.com"><img src="/public_images/tesla_logo.png" class="inner-image">
								<h4>Tesla</h4></a>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 inner-block">
						<div class="image-block-2">
							<a href="http://google.com"><img src="/public_images/google_logo.png" class="inner-image">
								<h4>Google</h4></a>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 inner-block">
						<div class="image-block-2">
							<a href="http://facebook.com"><img src="/public_images/facebook_logo_transparent.png" class="inner-image">
								<h4>Facebook</h4></a>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 inner-block">
						<div class="image-block-2">
							<a href="http://microsoft.com"><img src="/public_images/ms_logo.png" class="inner-image">

								<h4>Microsoft</h4></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>